.text-white {
  color: white;
}

.bg-black {
  background-color: black;
}

body{
  background-color: #ffc107;
}


.getp {
  background-color:#1ec783;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

/* Define CSS for bold and italic */
td {
  font-weight: bold;
  font-style: italic;
}

/* Add space between buttons */
.btn {
  margin-right: 5px;
}

/* Adjust the width of the Name column */
.small {
  width: 100px; /* Adjust this value as per your requirement */
  white-space: nowrap; /* Prevent text wrapping */
}

/* Add space from the left side of the screen */
.container {
  margin-left: 20px; /* Adjust this value as per your requirement */
}
